// 팝업
.update {
padding: 4rem 2rem 2rem 2rem;
max-width: 800px;
height: 100vh;
margin: 0 auto;
background: #fff;

h1 {  padding: 1rem 0;}
h2 {padding: 24px 0 14px;}

.updateBtn {
  width: 100%; margin-top: 1rem;
  border: none;
  padding: 12px 24px;
  color: #fff;
  background: #648FFF;
  border-radius: 4px;
  cursor: pointer;
 }

 table {
   width: 100%;
   border-bottom: 1px solid #ccc;
   tr {
     td {
       width: 20%;
       padding: 6px 0;
       border-top: 1px solid #ccc;
     }
   }
 }
}
// 팝업참조
@import url("company-info.css");
